* {
  outline: none !important;
}

main {
  overflow: hidden;
}

.flex {
  display: flex
}

.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.pd-24 {
  padding: 24px;
}

a {
  text-decoration: none;
  color: unset;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
  background: transparent;
}
